body {
    background-color: #ebedf0;
    color: #000;
    max-width: 450px;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 10px;
    height: 550px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

td {
    border: 2px #000 solid;
    text-align: center;
    padding: 10px;
}

.all {
    background-color: #fef9f6;
    min-height: 70px;
    margin: 20px;
    border-radius: 7px;
    padding: 30px 0;
}

.logo {
    margin: 10px auto;
}

.itog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.itog-last {
    width: 90%;
    margin: 10px auto;
    border: 1px #000 solid;
}

.td1 {
    font-size: 20px;
    padding: 5px;
}

.td2 {
    width: 50%;
    font-size: 15px;
    padding: 5px;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.inp {
    width: 80%;
    padding: 10px 15px;
    margin: 10px auto;
    border-radius: 10px;
    font-size: 20px;
}

.buttons {
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.butt {
    background-color: #ffe66b;
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    width: 60%;
    margin: 10px 0;
}

.radios {
    display: flex;
    justify-content: space-around;
}

.type_radio_btn {
    display: inline-block;
}

.type_radio_btn input[type=radio] {
    display: none;
}

.type_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 20px;
    line-height: 34px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 25px;
    user-select: none;
    width: 50px;
    text-align: center;
}

.type_radio_btn input[type=radio]:checked+label {
    background: #fde673;
}

.type_radio_btn label:hover {
    color: #000;
}

.type_radio_btn input[type=radio]:disabled+label {
    background: #efefef;
    color: #000;
}