body {
  background-color: #ebedf0;
  color: #000;
  max-width: 450px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  max-width: 700px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.links {
  width: 33.3%;
  text-align: center;
  background-color: #fff;
  padding: 10px 0;
  font-size: 20px;
  color: #000;
}

.active {
  background-color: #ffe66b;
}

.radios {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.type_radio_btn {
  display: inline-block;
}

.type_radio_btn input[type="radio"] {
  display: none;
}

.type_radio_btn label {
  display: inline-block;
  cursor: pointer;
  padding: 0px 20px;
  line-height: 34px;
  font-size: 18px;
  background-color: #fff;
  border-radius: 25px;
  user-select: none;
  width: 50px;
  text-align: center;
}

.type_radio_btn input[type="radio"]:checked + label {
  background: #fde673;
}

.type_radio_btn label:hover {
  color: #000;
}

.type_radio_btn input[type="radio"]:disabled + label {
  background: #efefef;
  color: #000;
}

.main {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.itog {
  width: 90%;
  margin: 10px auto;
  text-align: center;
  border: 3px solid #ffe66b;
  background-color: #ffffff70;
  border-radius: 20px;
  padding: 0;
  color: #000000;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  margin: 10px auto;
  width: 75px;
  height: 75px;
}

.itog-head {
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: bold;
}

.itog-itog {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.itog-title {
  position: relative;
  bottom: 0;
  margin-bottom: 5px;
  margin-right: 15px;
  text-align: right;
  font-size: 15px;
}

.line {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.block-title {
  text-align: left;
  font-size: 15px;
  height: 20%;
}

.inp {
  width: 70%;
  border: 1px solid #000;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 30px;
  text-align: center;
  padding: 5px;
}

.block-ed {
  font-size: 20px;
}

.but-real {
  width: 75%;
  padding: 10px;
  margin: 20px auto;
  border-radius: 30px;
  background-color: #ffe66b;
  font-size: 20px;
  font-weight: bolder;
  color: #000;
}

.log-block {
  border: 2px solid #ffe66b;
  background-color: #ffffff80;
  border-radius: 10px;
  width: 90%;
  margin: 10px auto;
}

.log-block td {
  width: 33%;
  padding-left: 15px;
  font-size: 15px;
  border-bottom: 1px solid gray;
}

.log-title {
  color: #000000;
  font-size: 8px;
  padding-bottom: 5px;
  padding-top: 2px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff80;
}
.foot-icon {
  width: 45px;
}

.foot-title {
  margin: auto 0;
}

/* Информация */

.header-info {
  background-color: #ffffff70;
  padding: 10px;
}
.head-link {
  display: flex;
  justify-content: space-between;
}
.head-icon {
  width: 65px;
  margin-left: 0;
}
.head-title {
  margin: auto;
}

.main-info {
  font-size: 15px;
  padding: 0 30px;
  text-align: justify;
  text-indent: 25px;
}
.info-links {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.info-icon {
  width: 75px;
}
